@page
@model LabMaterials.Pages.AddDocumentTypeModel
@{
    ViewData["Title"] = "Create Document Type";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="/ManageUsers">Users</a></li>
        <li class="breadcrumb-item"><a asp-page="/ViewDoctypes">Document Types</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Document Types</li>
    </ol>
</nav>

<!-- Back Button -->
<div class="mb-3">
    <a asp-page="/ViewDoctypes" class="btn btn-outline-secondary">&larr; Back </a>
</div>


<h1>Create Document Type</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="DocumentType.DocType" class="form-label"></label>
        <input asp-for="DocumentType.DocType" class="form-control" />
        <span asp-validation-for="DocumentType.DocType" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="ManageUsers" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
