@page
@model LabMaterials.Pages.AddPrivilegesModel
@{
    ViewData["Title"] = "Create Privilege";
}

<!-- Breadcrumb -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 pb-2">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-2 mb-0">
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                    <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                </li>
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                    <a href="/ManageUsers" class="text-decoration-none">@Model.lblUsers</a>
                </li>
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                    @Model.lblPrivileges
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Back Button -->
<!-- <div class="mb-3">
    <a asp-page="/ViewPrivileges" class="btn btn-outline-secondary">&larr; Back </a>
</div> -->

<h2>Create Privilege</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Privilege.PrivilegeName" class="form-label">@Model.lblPrivilegeName</label>
        <input asp-for="Privilege.PrivilegeName" class="form-control" />
        <span asp-validation-for="Privilege.PrivilegeName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-sm btn-success me-1">Create</button>
    <a asp-page="ManageUsers" class="btn btn-sm btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
