@page
@model LabMaterials.Pages_HazardTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HazardType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-3">
                            <label asp-for="HazardType.HazardTypeName" class="form-label"></label>
                            <input asp-for="HazardType.HazardTypeName" class="form-control" />
                            <span asp-validation-for="HazardType.HazardTypeName" class="text-danger"></span>
                        </div>

                        <div class="d-flex gap-2">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
